*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:white;
}
html,body{
  height:100%;
  width:100%;
  background-color:#111;
}
main{
  height:100%;
width:100%;
padding:20px;
display:flex;
align-items:center;
justify-content:space-evenly;
flex-direction: column;
}
.circle{
  height:300px;
  width:300px;
  border-radius:50%;
  background-color:crimson;
}
button{
  padding:20px 100px;
  border-radius:50px;
  background-color: antiquewhite;
  color:black;
  font-size:20px;

}
button:active{
  scale:0.9
}