html,body{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;

}
body{
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size:100px;
    overflow:hidden
}
h1 span{
    display:inline-block
}